<script type="text/javascript">
	var aTipoUsuarioModule = null;
	$(document).ready(function() {

		aTipoUsuarioModule = new TipoUsuarioModule();
		aTipoUsuarioModule.config("secTipoUsuario");
	});
</script>
<section id="secTipoUsuario">

	<div id="divTipoUsuarioMain">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aTipoUsuarioModule.bto_rewardClick">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aTipoUsuarioModule.bto_addTipoUsuario, visible: aTipoUsuarioModule.aTipoUsuarioDTO.tipoUsuarioId() < 1">
							<i class="fa fa-plus"></i> Registrar
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aTipoUsuarioModule.bto_updateTipoUsuario, visible: aTipoUsuarioModule.aTipoUsuarioDTO.tipoUsuarioId() > 0">
							<i class="fa fa-plus"></i> Actualizar
						</button>
						<button type="button" class="btn btn-black"
							data-bind="click: aTipoUsuarioModule.bto_clearFields, visible: aTipoUsuarioModule.aTipoUsuarioDTO.tipoUsuarioId() < 1">
							<i class="fa fa-trash"></i> Limpiar
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													del Rol:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre </abbr>
														</label> <input id="edNombre" type="text" class="form-control"
															data-bind="value: aTipoUsuarioModule.aTipoUsuarioDTO.nombre"
															autocomplete="off" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Descripción </abbr>
														</label> <input id="edDescripcion" type="text"
															class="form-control"
															data-bind="value: aTipoUsuarioModule.aTipoUsuarioDTO.descripcion"
															autocomplete="off" />
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>