<script type="text/javascript">
	var aRolModule = null;
	$(document).ready(function() {

		aRolModule = new RolModule();
		aRolModule.config("secRol");
	});
</script>
<section id="secRol">

	<div id="divRolMain">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aRolModule.bto_rewardClick">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aRolModule.bto_addRol, visible: aRolModule.aRolDTO.rolId() < 1">
							<i class="fa fa-plus"></i> Registrar
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aRolModule.bto_updateRol, visible: aRolModule.aRolDTO.rolId() > 0">
							<i class="fa fa-plus"></i> Actualizar
						</button>
						<button type="button" class="btn btn-black"
							data-bind="click: aRolModule.bto_clearFields, visible: aRolModule.aRolDTO.rolId() < 1">
							<i class="fa fa-trash"></i> Limpiar
						</button>
						<button type="button" class="btn btn-primary"
							data-bind="click: aRolModule.bto_addPrivilegio, visible: aRolModule.aRolDTO.rolId() > 0">
							<i class="fa fa-cubes"></i> Privilegios
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													del Rol:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre </abbr>
														</label> <input id="edNombre" type="text" class="form-control"
															data-bind="value: aRolModule.aRolDTO.name"
															autocomplete="off" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Descripción </abbr>
														</label> <input id="edDescripcion" type="text"
															class="form-control"
															data-bind="value: aRolModule.aRolDTO.descripcion"
															autocomplete="off" />
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="PrivilegioRolMain" style="display: none;">

		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aRolModule.bto_rewardClickToRol">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													del Privilegio:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre del Privilegio </abbr>
														</label> <span id="coacPrivilegio"> <input id="privilegio"
															type="text" class="form-control" />
														</span>
													</div>
												</div>
												<div class="col-sm-4" style="display: block;">
													<label> <abbr class="required"> </abbr>
													</label>
													<div class="form-group">
														<button type="button" class="btn btn-success"
															data-bind="click: aRolModule.bto_addPrivilegioToRol">
															<i class="fa fa-check"></i> Agregar
														</button>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="panel gradient-diag1 panel-primary">
					<div class="panel-body-collapse collapse in ">
						<div class="panel-body ">
							<table class="table table-striped">
								<thead class="panel-heading panel-colorize">
									<tr class="row-mid" style="align-content: center">
										<th style="text-align: center">Nombre de Privilegio</th>
										<th style="text-align: center">Acción</th>
									</tr>
								</thead>
								<tbody data-bind="foreach: aRolModule.aListPrivilegio">
									<tr class="row-mid">
										<td style="text-align: center"><label
											data-bind="text: nombre"> </label></td>
										<td class="text-center">
											<button class="btn btn-danger btn-sm"
												data-bind="click: aRolModule.bto_removePrivilegioClick.bind($data, $index())">
												<i class="fa fa-times"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>