<script type="text/javascript">
	var aConsultaModule = null;
	$(document).ready(function() {

		aConsultaModule = new ConsultaModule();
		aConsultaModule.config("secNewConsulta");
	});

	$("#accordionConsulta").accordion({
		disabled : false,
		heightStyle : "content"
	});
</script>
<section id="secNewConsulta">
	<div id="searchByDni">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-default"
						data-bind="click: aConsultaModule.bto_rewardClick">
						<i class="fa fa-arrow-circle-left"></i> Retorno
					</button>
					<button type="button" class="btn btn-dark"
						data-bind="click: aConsultaModule.bto_clearDocument">
						<i class="fa fa-plus"></i> Limpiar
					</button>
				</div>
			</div>
		</div>
		<br>
		<div class="container-fluid">
			<div class="row" rel="panels">
				<div class=" col-md-12 panels ui-sortable"
					id="rid89b1b701d42a7d61100beca62aab7c631">
					<div class="panel panel-default gradient-diag1"
						id="rid89b1b701d42a7d61100beca62aab7c632">
						<div class="panel-body-collapse collapse in">
							<div class="panel-body ">
								<div>
									<div class="col-sm-12">
										<fieldset>
											<legend align="left" style="font-size: medium">Datos
												Paciente:</legend>
											<div class="col-sm-4">
												<div class="form-group">
													<label for="laBL"> <abbr class="required">
															Número de Documento </abbr>
													</label> <input id="usuario" type="text" class="form-control"
														autocomplete="off"
														data-bind="value: aConsultaModule.aConsultaDTO.numeroDocumento"
														maxlength="15" />
												</div>
											</div>
											<div class="col-sm-4" style="display: block;">
												<label> <abbr class="required"> </abbr>
												</label>
												<div class="form-group">
													<button type="button" class="btn btn-dark"
														data-bind="click: aConsultaModule.bto_validateExistPaciente">
														<i class="fa fa-check"></i>OK
													</button>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="CreateConsultaMain">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-default"
						data-bind="click: aConsultaModule.bto_rewardClick">
						<i class="fa fa-arrow-circle-left"></i> Retorno
					</button>
					<button type="button" class="btn btn-success">
						<i class="fa fa-plus"></i> Registrar
					</button>
					<button type="button" class="btn btn-success">
						<i class="fa fa-plus"></i> Buscar Historia Clínica
					</button>
					<button type="button" class="btn btn-black">
						<i class="fa fa-plus"></i> Exámenes Auxiliares
					</button>
					<button type="button" class="btn btn-black" data-bind = "click: aConsultaModule.bto_recetaVirtual">
						<i class="fa fa-paste"></i> Receta Virtual
					</button>
					<button type="button" class="btn btn-black">
						<i class="fa fa-trash"></i> Limpiar
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body-collapse collapse in">
			<div class="panel-body ">
				<div class="panel panel-default gradient-diag1">
					<div class="panel-body-collapse collapse in">
						<div>
							<div id="accordionConsulta">
								<h3>Datos Personales Filiación</h3>
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Apellidos y Nombres </label> <input
															id="edApellidosNombres" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" disabled data-bind="value: aConsultaModule.aConsultaDTO.apeNombres"/>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Edad </label> <input id="edEdad" type="text"
															class="form-control" maxlength="30"
															style="text-transform: uppercase" disabled data-bind="value: aConsultaModule.aConsultaDTO.edad"/>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label for="laBusiScope"> Sexo </label> <select id="edSexo"
													class="form-control" disabled data-bind="value: aConsultaModule.aConsultaDTO.sexo">
													<option value="-1">-- Seleccionar --</option>
													<option value="0">Masculino</option>
													<option value="1">Femenino</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Número de Documento </label> <input
															id="edNumeroDocumento" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" data-bind="value: aConsultaModule.aConsultaDTO.numeroDocumento"
															autocomplete="off" disabled/>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Teléfono </label> <input id="edTelefono"
															type="text" class="form-control" maxlength="30"
															style="text-transform: uppercase" autocomplete="off" disabled  data-bind="value: aConsultaModule.aConsultaDTO.telefono"/>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<h3>Datos Personales Ginecológico</h3>
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Menarquia </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Método Anticonceptivo </label> <input
															id="edDescripcion" type="text" class="form-control"
															maxlength="30" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Régimen catamenial </label> <input
															id="edDescripcion" type="text" class="form-control"
															maxlength="30" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Orientación Sexual </label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> FUR</label> <input id="edDescripcion" type="text"
															class="form-control" maxlength="30"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> N° de Parejas </label> <input id="edDescripcion"
															type="text" class="form-control" maxlength="30"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-6">
														<label> G </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-6">
														<label> P </label> <input id="edDescripcion" type="text"
															class="form-control" maxlength="30"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<h3>Motivo de Consulta</h3>
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Talla (m) </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Peso (kg) </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> IMC </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> PA (Presión Arteria) </label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> FC (Frecuencia Cardiaca)</label> <input
															id="edZona" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Saturación O2 </label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> T° (Temperatura) </label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> FR (Frecuencia Respiratoria)</label> <input
															id="edZona" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Presunción Diagnóstica (cie10) </label> <input
															id="edZona" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Motivo de Consulta </label>
														<textarea type="text" class="form-control"
															id="edReqBlIntegralCancel" rows="4" maxlength="200"
															cols="30"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Interconsulta A</label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Plan de Trabajo </label>
														<textarea type="text" class="form-control"
															id="edReqBlIntegralCancel" rows="4" maxlength="200"
															cols="30"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Servicio </label> <input id="edZona" type="text"
															class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Personal encargado de la atención</label> <input
															id="edZona" type="text" class="form-control"
															maxlength="15" style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class="form-group-sm col-sm-12">
													<div class="col-sm-12">
														<label> Fecha de Consulta </label> <input id="edZona"
															type="text" class="form-control" maxlength="15"
															style="text-transform: uppercase" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>