<script type="text/javascript">
	var aPacienteModule = null;
	$(document).ready(function() {

		aPacienteModule = new PacienteModule();
		aPacienteModule.config("secPaciente");
	});
</script>
<section id="secPaciente">

	<div id="divPacienteMain">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aPacienteModule.bto_rewardClick">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aPacienteModule.bto_addPatient, visible: aPacienteModule.aPacienteDTO.pacienteId() < 1">
							<i class="fa fa-plus"></i> Registrar
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aPacienteModule.bto_updatePatient, visible: aPacienteModule.aPacienteDTO.pacienteId() > 0">
							<i class="fa fa-plus"></i> Actualizar
						</button>
						<button type="button" class="btn btn-black"
						data-bind="click: aPacienteModule.bto_clearFields, visible: aPacienteModule.aPacienteDTO.pacienteId() < 1">
							<i class="fa fa-trash"></i> Limpiar
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">				
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													Personales:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre </abbr>
														</label> <input id="edNombre" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.nombre" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Apellido Paterno </abbr>
														</label> <input id="edApePat" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.apellidoPaterno" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Apellido Materno </label> <input
															id="edApMat" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.apellidoMaterno" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Número de Documento </label> <input
															id="edNumDoc" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.numeroDocumento" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Sexo </label> <select
															id="edSexo" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.sexo">
															<option value="-1">-- Seleccionar --</option>
															<option value="0">Masculino</option>
															<option value="1">Femenino</option>
															</select>
													</div>
												</div>												
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Fecha Nacimiento </label> <input
															id="edLugNac" data-provide="datepicker"
															data-date-format="dd/mm/yyyy" type="text" class="form-control datepick"
															data-bind="value: aPacienteModule.aPacienteDTO.fechaNacimientoDescripcion" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Lugar Nacimiento </label> <input
															id="edLugNac"  type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.lugarNacimiento" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Peso </label> <input
															id="edPeso" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.peso" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Talla </label> <input
															id="edTalla" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.talla" />
													</div>
												</div>												
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Raza</label> <input
															id="edDirAct" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.raza" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Religión</label> <input
															id="edDirAct" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.religion" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Nacionalidad </label> <input
															id="edDirAct" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.nacionalidad" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Teléfono </label> <input
															id="edTelefono" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.telefono" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Celular </label> <input
															id="edCelular" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.celular" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Correo </label> <input
															id="edCorreo" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.correo" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Grado de Instrucción </label> <select
															id="edRegion" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.gradoInstruccion">
															<option value="-1">-- Seleccionar --</option>
															<option value="1">Analfabeto</option>
															<option value="2">Primaria Incompleta</option>
															<option value="3">Primaria Completa</option>
															<option value="4">Secundaria Incompleta</option>
															<option value="5">Secundaria Completa</option>
															<option value="6">Técnico Incompleta</option>
															<option value="7">Técnico Completa</option>
															<option value="8">Universitaria Incompleta</option>
															<option value="9">Universitaria Completa</option>
															</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Ocupación </label> <input
															id="edDirAct" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.ocupacion" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Estado Civil </label> <select
															id="edEstCivil" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.estadoCivil">
															<option value="-1">-- Seleccionar --</option>
															<option value="0">Soltero</option>
															<option value="1">Casado</option>
															<option value="2">Viudo</option>
															<option value="3">Divorciado</option>
															<option value="4">Conviviente</option>															
															</select>															
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Dirección Actual </label> <input
															id="edDirAct" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.direccionActual" />
													</div>
												</div>																								
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Departamento </label> 
														<span>
															<select id="edRegion" class="form-control"
																data-bind="options: aPacienteModule.aListDepartamentoViewModel,
																   optionsText: 'nombre',
																   optionsValue:'regionNumero',
																   value: aPacienteModule.aRegion.departamento,
																   optionsCaption: '--Selecionar--',  event: {change: aPacienteModule.eventGetProvincia}">
															</select>
														</span>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Provincia </label> 
														<span>
															<select id="edProvincia" class="form-control"
																data-bind="options: aPacienteModule.aListProvinciaViewModel,
																   optionsText: 'nombre',
																   optionsValue:'regionNumero',
																   value: aPacienteModule.aRegion.provincia,
																   optionsCaption: '--Selecionar--', event: {change: aPacienteModule.eventGetDistrito}" disabled>
															</select>
														</span>
													</div>
												</div>	
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Distrito </label> 
														<span>
															<select id="edDistrito" class="form-control"
																data-bind="options: aPacienteModule.aListDistritoViewModel,
																   optionsText: 'nombre',
																   optionsValue:'regionNumero',
																   value: aPacienteModule.aRegion.distrito,
																   optionsCaption: '--Selecionar--'" disabled>
															</select>
														</span>
													</div>
												</div>																																		
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Nombre Contacto </label> <input
															id="edNomContac" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.nombreContacto" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Teléfono Contacto </label> <input
															id="edTelContac" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.telefonoContacto" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Correo Contacto </label> <input
															id="edCorreoContac" type="text" class="form-control"
															data-bind="value: aPacienteModule.aPacienteDTO.correoContacto" />
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>