<!--========================================
  =            Plugins JavaScript            =
  =========================================-->

  <!-- jQuery 3 -->
   <script src="/admin_static/bower_components/jquery/dist/jquery.min.js"></script> 
     <!-- Bootstrap 3.3.7 -->
   <!-- script src="/admin_static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
   <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script> 
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script> -->
  <!-- Bootstrap 3.3.6 -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  
  <!-- SlimScroll -->
  <script src="/admin_static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/admin_static/bower_components/fastclick/lib/fastclick.js"></script>
  
     <!-- AdminLTE App -->
  <script src="/admin_static/dist/js/adminlte.min.js"></script>
  
 <!-- AdminLTE for demo purposes -->
   
    
  <script src="/admin_static/template/application.js" type="text/javascript"></script>
  <script src="/admin_static/template/knockout-2.1.0.js" type="text/javascript"></script>
  <script src="/admin_static/template/knockout.mapping.js" type="text/javascript"></script>
  
  <script src="/admin_static/template/Core.js" type="text/javascript"></script>
  <script src="/admin_static/template/coloadmodal.js" type="text/javascript"></script>
  <script src="/admin_static/template/coupload.js" type="text/javascript"></script>
  <script src="/admin_static/template/Base.js" type="text/javascript"></script>
  <script src="/admin_static/template/tooltip.js" type="text/javascript"></script>
  <script src="/admin_static/template/Tools.js" type="text/javascript"></script>
  
  <!-- date-range-picker -->
  <script src="/admin_static/bower_components/moment/min/moment.min.js"></script>
  <script src="/admin_static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <!-- bootstrap datepicker -->
  <script src="/admin_static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- bootstrap time picker -->
  <script src="/admin_static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
  <!-- Select2 -->
  <script src="/admin_static/bower_components/select2/dist/js/select2.full.min.js"></script>
  <!-- DataTables -->
<!--   <script src="/admin_static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/admin_static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/admin_static/bower_components/datatables.net-bs/js/dataTables.responsive.min.js"></script>
  <script src="/admin_static/bower_components/datatables.net-bs/js/responsive.bootstrap.min.js"></script> -->

  <!-- SweetAlert2-->
<!--   <script src="admin_static/plugins/sweetalert2/sweetalert2.all.js"></script>-->

    <!-- Morris.js charts -->
  <script src="/admin_static/bower_components/raphael/raphael.min.js"></script>
  <script src="/admin_static/bower_components/morris.js/morris.min.js"></script>

  <!-- ChartJS -->
 <script src="/admin_static/bower_components/Chart.js/Chart.js"></script>

 <!-- Toolbar -->
<script src="/admin_static/bower_components/toolbar/jquery.toolbar.js"></script>

<!-- Slider -->
<script src="/admin_static/bower_components/ion.rangeSlider/js/ion.rangeSlider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<!-- <script src="/admin_static/dist/js/demo.js" type="text/javascript"></script> -->