  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2020 <a href="#">AppFactoryPeru</a>.</strong> All rights
    reserved.
  </footer>