<header class="main-header">
	<!-- Logo -->
	<a href="/admin" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>S</b>F</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>CSD</b>SF</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<!-- <nav class="navbar navbar-static-top">-->
	<nav class="navbar navbar-default navbar-static-top navbar-inplace"
		role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown" role = "button" aria-haspoup="true" aria-expanded="false"><span class="hidden-xs" th:text="${#authentication.getPrincipal().getUsername()}"> </span><span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href=""><i class="fa fa-user"></i> Perfil</a></li>
						<li><a href="#" data-no-turbolink="true"></a> 
						<a href="#" th:href="@{/logout}">
						<i class="fa fa-power-off text-danger"></i> <span
								class="text-danger">Cerrar sesión</span></button>
						</a>
						</li>
					</ul></li>
			</ul>
		</div>
	</nav>
</header>