<!-- Main Sidebar Container -->
<aside class="main-sidebar">
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>-->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">

			<li class="treeview"><a href="#"> <i class="fa fa-users"></i>
					<span>Gestión de Usuarios</span> <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a href="/admin/usuario"><i class="fa fa-user"></i>
							Usuario</a></li>
				</ul>
				<ul class="treeview-menu">
					<li><a href="/admin/rol"><i class="fa fa-user"></i>
							Rol</a></li>
				</ul>
			</li>

			<li><a href="/admin/paciente"> <i class="fa fa-user-md"></i> <span>Gestión
						de Pacientes</span>
			</a></li>
			<li><a href="/admin/consulta"> <i class="fa fa-medkit"></i> <span>Gestión
						de Consultas</span>
			</a></li>
			
			<li class="treeview"><a href="#"> <i class="fa fa-gears"></i>
					<span>Configuraciones </span> <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a href="/admin/tipoUsuario"><i class="fa fa-user"></i>
							Tipo de Usuario</a></li>
				</ul>
				<!-- <ul class="treeview-menu">
					<li><a href="/admin/rol"><i class="fa fa-user"></i>
							Rol</a></li>
				</ul>-->
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>