 
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/admin_static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin_static/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/admin_static/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/admin_static/bower_components/select2/dist/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin_static/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/admin_static/dist/css/skins/_all-skins.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="/admin_static/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/admin_static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

   <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="/admin_static/plugins/timepicker/bootstrap-timepicker.min.css">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
     <!-- DataTables -->
  <link rel="stylesheet" href="/admin_static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/admin_static/bower_components/datatables.net-bs/css/responsive.bootstrap.min.css">

  <!-- Morris chart -->
  <link rel="stylesheet" href="/admin_static/bower_components/morris.js/morris.css">

  <!-- Toolbar -->
  <link rel="stylesheet" href="/admin_static/bower_components/toolbar/jquery.toolbar.css">

   <!-- Slider -->
  <link rel="stylesheet" href="/admin_static/bower_components/ion.rangeSlider/css/ion.rangeSlider.css">
  
  <!-- Layout css -->
  <link rel="stylesheet" href="/admin_static/layout.css">