﻿
/* modal tipo INFO */

.modal-aw-success .modal-header {

    color: #1aae88;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5 !important;

}

.modal-aw-success .modal-footer {
      padding: 8px;
       border-top: 1px solid #e5e5e5 !important;
       
    
}

.modal-aw-success .modal-footer button {
    background: #1aae88;
    color: #fff;
}

.modal-aw-success .modal-footer button:hover {
     background: #51c4a7;
}

.modal-aw-success .close {
     color: #1aae88;
}


/* modal tipo ERROR */

.modal-aw-error .modal-header {

    color: #d43f3a;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5 !important;

}

.modal-aw-error .modal-footer {
      padding: 8px;
       border-top: 1px solid #e5e5e5 !important;
       
    
}

.modal-aw-error .modal-footer button {
    background: #d43f3a;
    color: #fff;
}

.modal-aw-error .modal-footer button:hover {
     background: #e5524d;
}

.modal-aw-error .close {
     color: #d43f3a;
}



/* modal tipo WARNING */

.modal-aw-warning .modal-header {

    color: #eea236;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5 !important;

}

.modal-aw-warning .modal-footer {
      padding: 8px;
       border-top: 1px solid #e5e5e5 !important;
       
    
}

.modal-aw-warning .modal-footer button {
    background: #eea236;
    color: #fff;
}

.modal-aw-warning .modal-footer button:hover {
     background: #f2b257;
}

.modal-aw-warning .close {
     color: #eea236;
}

.btn-aw-dark {
    background: #999 !important;
}

.auto-valid-value {
    background: rgb(217, 251, 232);
    background: rgba(217, 251, 232, 0.6) !important;
}

.row_selected {
    background: #cfcfdc !important;
}

/* autocompletes */
.in-autocomplete {
    display: block;
    width: 100%;
    height: 2.4em;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.53846;
    color: #43494d;
    border-radius: 2px;
    transition: background-color 0.35s ease;
    padding-right: 30px !important;
    border: 1px solid #f2f4f8;
    background-color: rgba(242, 244, 248, 0.4);
    box-shadow: none;
    outline: none;
}



.ic-autocomplete {
    position: absolute;
    line-height: 1.6em;
    right: 1.8em;
    top: .30em;
    position: absolute;
    right: 1.2em;
    top: .20em;
    color: #acaeb2;
}

.autocomplete-loading:before {
    background-image: url(../../Theme/images/loading.gif);
    background-size: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    content: "";
}

.ui-autocomplete-loading {
    background: none !important;
}


.ui-widget-header {
    background-color: rgb(227, 50, 68);
    padding: 3px;
}

.popup-init {
    color: #e33244 !important;
    padding: 0px 10px !important;
}

.tbl-col-xs {
    min-width: 50px !important;
    max-width: 100px !important;
}


.tbl-col-md {
    min-width: 110px !important;
    max-width: 200px !important;
}


.tbl-col-lg {
    min-width: 210px !important;
    max-width: 300px !important;
}

/** opciones adicionales a un grid */
.grid-ad-header{
    margin-top: 30px;
    margin-bottom: -7px;
    margin-left: 1px;
    padding-left: 14px;
    /*
    border-top: 1px solid #e4e1e2;
    border-right: 1px solid #e4e1e2;
    border-left: 1px solid #e4e1e2;
    */
}

.grid-ad-header input{
    margin-right: 4px;
    vertical-align: middle;
    margin-bottom: 6px;
}

.grid-ad-header span{
    margin-right: 20px;
    font-weight: 600;
    color: rgb(20, 95, 162);
}