<script type="text/javascript">
	var aUsuarioModule = null;
	$(document).ready(function() {

		aUsuarioModule = new UsuarioModule();
		aUsuarioModule.config("secUsuario");
	});
</script>
<section id="secUsuario">

	<div id="divUsuarioMain">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aUsuarioModule.bto_rewardClick">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aUsuarioModule.bto_addUser, visible: aUsuarioModule.aUsuarioDTO.usuarioId() < 1">
							<i class="fa fa-plus"></i> Registrar
						</button>
						<button type="button" class="btn btn-success"
							data-bind="click: aUsuarioModule.bto_updateUser, visible: aUsuarioModule.aUsuarioDTO.usuarioId() > 0">
							<i class="fa fa-plus"></i> Actualizar
						</button>
						<button type="button" class="btn btn-black"
							data-bind="click: aUsuarioModule.bto_clearFields, visible: aUsuarioModule.aUsuarioDTO.usuarioId() < 1">
							<i class="fa fa-trash"></i> Limpiar
						</button>
						<button type="button" class="btn btn-primary"
							data-bind="click: aUsuarioModule.bto_addRol, visible: aUsuarioModule.aUsuarioDTO.usuarioId() > 0">
							<i class="fa fa-cubes"></i> Roles
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Información
													Usuario:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Usuario </abbr>
														</label> <input id="usuario" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.usuario" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Contraseña </abbr>
														</label> <input id="edContrasena" type="password"
															class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.contrasena" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Confirmación de
															Contraseña </label> <input id="edConfirmContrasena"
															type="password" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.confirmacionContrasena" />
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													Personales:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre </abbr>
														</label> <input id="edNombre" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.nombre" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Apellido Paterno </abbr>
														</label> <input id="edApePat" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.apellidoPaterno" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Apellido Materno </label> <input
															id="edApeMat" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.apellidoMaterno" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Tipo de Documento </label> <select
															id="edTipoDocumento" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.tipoDocumento">
															<option value="-1">-- Seleccionar --</option>
															<option value="0">DNI</option>
															<option value="1">Carné Extranjería</option>
															<option value="2">Otros</option>
														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Número de Documento </label> <input
															id="edNumeroDocumento" type="text" class="form-control"
															maxlength="12"
															data-bind="value: aUsuarioModule.aUsuarioDTO.numeroDocumento" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Fecha de Nacimiento </label> <span>
															<input data-provide="datepicker"
															data-date-format="dd/mm/yyyy" id="edFinInicioBk"
															type="text" class="form-control datepick"
															data-bind="value: aUsuarioModule.aUsuarioDTO.fechaNacimientoDescripcion">
														</span>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Dirección Email </label> <input
															id="edCorreo" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.correo" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Teléfono </label> <input
															id="edTelefono" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.telefono" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBusiScope"> Celular </label> <input
															id="edCelular" type="text" class="form-control"
															data-bind="value: aUsuarioModule.aUsuarioDTO.celular" />
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="RolUsuarioMain" style="display: none;">

		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-default"
							data-bind="click: aUsuarioModule.bto_rewardClickToUser">
							<i class="fa fa-arrow-circle-left"></i> Retorno
						</button>
					</div>
				</div>
			</div>
			<br />
			<div class="container-fluid">
				<div class="row" rel="panels">
					<div class=" col-md-12 panels ui-sortable"
						id="rid89b1b701d42a7d61100beca62aab7c631">
						<div class="panel panel-default gradient-diag1"
							id="rid89b1b701d42a7d61100beca62aab7c632">
							<div class="panel-body-collapse collapse in">
								<div class="panel-body ">
									<div>
										<div class="col-sm-12">
											<fieldset>
												<legend align="left" style="font-size: medium">Datos
													del Rol:</legend>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="laBL"> <abbr class="required">
																Nombre del Rol </abbr>
														</label> <span id="coacRol"> <input id="rol"
															type="text" class="form-control" />
														</span>
													</div>
												</div>
												<div class="col-sm-4" style="display: block;">
													<label> <abbr class="required"> </abbr>
													</label>
													<div class="form-group">
														<button type="button" class="btn btn-success"
															data-bind="click: aUsuarioModule.bto_addRolToUser">
															<i class="fa fa-check"></i> Agregar
														</button>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="panel gradient-diag1 panel-primary">
					<div class="panel-body-collapse collapse in ">
						<div class="panel-body ">
							<table class="table table-striped">
								<thead class="panel-heading panel-colorize">
									<tr class="row-mid" style="align-content: center">
										<th style="text-align: center">Nombre de Rol</th>
										<th style="text-align: center">Acción</th>
									</tr>
								</thead>
								<tbody data-bind="foreach: aUsuarioModule.aListRoles">
									<tr class="row-mid">
										<td style="text-align: center"><label
											data-bind="text: name"> </label></td>
										<td class="text-center">
											<button class="btn btn-danger btn-sm"
												data-bind="click: aUsuarioModule.bto_removeRolClick.bind($data, $index())">
												<i class="fa fa-times"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>